{% extends "base.html" %}
{% load static %}
{% block content %}

<body>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar">
					<div class="container-fluid">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="file"></span>
									我的账单
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="shopping-cart"></span>
									资金账户
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="users">(current)</span>
									收支分类
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="bar-chart-2"></span>
									导入账单
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#expanseCategoryList" id="#">支出分类</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#incomeCategoryList" id="#">收入分类</a>
					</li>
				</ul>

				<div class="tab-content">
					<div id="expanseCategoryList" class="container-fluid tab-pane active"><br>
					</div>
					<div id="incomeCategoryList" class="container-fluid tab-pane"><br>
					</div>
				</div>





			</main>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
      ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="../../../../assets/js/vendor/popper.min.js"></script>
	<script src="../../../../dist/js/bootstrap.min.js"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script>

	<!-- Graphs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</body>

{% endblock %}