{% extends "base.html" %}
{% load static %}
{% block content %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top border-bottom" style="background-color: white;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img alt="" class="vt-logo-image" src="https://i.imgur.com/za9Otgl.png?1"
                    width=32 focusable="false" aria-hidden="true"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>

                <ul class="navbar-nav mt-2 mt-lg-0">
                    <li><a class="nav-link" href="/pc/dashboard"><i class="bi-list"></i> 记账</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="nav-link" href="{% url 'logout' %}"><i class="bi-box-arrow-down"></i>登出</a></li>
                    {% else %}
                    <li><a class="nav-link" href="{% url 'login' %}"><i class="bi-person-circle"></i>登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/pc/dashboard/billList">
                    <span data-feather="file"></span>
                    我的账单
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pc/dashboard/accountList">
                    <span data-feather="shopping-cart"></span>
                    资金账户
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/pc/dashboard/categoryList">
                    <span data-feather="users">(current)</span>
                    收支分类
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    导入账单
                </a>
            </li>
        </ul>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#expanseCategoryList" id="#">支出分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#incomeCategoryList" id="#">收入分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home" id="home-nav">记账</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#charts" id="charts-nav">图表</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="expanseCategoryList" class="container-fluid tab-pane active"><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        </tr>
                    </thead>

                    <tbody>

                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="incomeCategoryList" class="container-fluid tab-pane"><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        </tr>
                    </thead>

                    <tbody>

                        {% for item in items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="tab-content">
                <div id="home" class="container-fluid tab-pane active"><br>
                    <div class="row">
                        <div class="col-lg-6 mb-6" id="history-records-overview" align="center">
                            <div class="form-row">
                                <div class="col-md-3 mb-3">
                                    <select class="custom-select" id="category-list" name="category">
                                    </select>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <select class="custom-select" id="sub-category-list" name="sub_category">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="charts" class="container-fluid tab-pane"><br>
                    <div class="row" align="center">
                        <div class="col-lg-4 mb-4">
                            <div class="row">
                                <div class="col" align="center">
                                    <span>月总收入</span>
                                    <h6 id="month-total-income">(元)</h6>
                                </div>
                                <div class="col" align="center">
                                    <span>月总支出</span>
                                    <h6 id="month-total-expense">(元)</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4" align="center">
                            <div class="input-group">
                                <select class="custom-select" id="available-years">
                                </select>
                                <select class="custom-select" id="available-months">
                                </select>
                                <div class="input-group-append">
                                    <button id="show-charts" class="btn btn-outline-info my-2 my-sm-0"
                                        type="submit">筛选</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="row">
                                <div class="col" align="center">
                                    <span>年总收入</span>
                                    <h6 id="year-total-income">(元)</h6>
                                </div>
                                <div class="col" align="center">
                                    <span>年总支出</span>
                                    <h6 id="year-total-expense">(元)</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" align="center">
                        <div class="col-lg-6 mb-6">
                            <div id="month-bar-chart" style="width:100%; height: 400px; padding: 10px 0px;"></div>
                            <div id="month-pie-chart" style="width:100%; height: 400px;"></div>
                        </div>
                        <div class="col-lg-6 mb-6">
                            <div id="year-bar-chart" style="width:100%; height: 400px; padding: 10px 0px;"></div>
                            <div id="year-pie-chart" style="width:100%; height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</body>
<script>$.ajaxSetup({ headers: { "X-CSRFToken": '{{ csrf_token }}' } });</script>
<script>
    function getCurrentDateFormat() {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var hour = date.getHours();
        var minute = date.getMinutes();
        if (month >= 1 && month <= 9) {
            month = '0' + month;
        }
        if (day >= 0 && day <= 9) {
            day = '0' + day;
        }
        var currentDate = year + '-' + month + '-' + day + " " + hour + ":" + minute;
        return currentDate;
    }
</script>
<script>
    $(function () {
        var current_month_surplus = $("#month-surplus").text();
        $({ numberValue: current_month_surplus }).animate({ numberValue: parseFloat(current_month_surplus) }, {
            duration: 1000,
            easing: 'linear',
            step: function (now) {
                $('#month-surplus').text(now.toFixed(2));
            }
        });
        var current_month_income = $("#month-income").text();
        $({ numberValue: current_month_income }).animate({ numberValue: parseFloat(current_month_income) }, {
            duration: 1000,
            easing: 'linear',
            step: function (now) {
                $('#month-income').text(now.toFixed(2));
            }
        });
        var current_month_expense = $("#month-expense").text();
        $({ numberValue: current_month_expense }).animate({ numberValue: parseFloat(current_month_expense) }, {
            duration: 1000,
            easing: 'linear',
            step: function (now) {
                $('#month-expense').text(now.toFixed(2));
            }
        });

        var init_ie_type = 'expense'
        var init_category_type = '餐饮'
        $("#ie-type-list").find(`option[value=${init_ie_type}]`).attr("selected", true);
        $.ajax({
            type: "POST",
            data: { ie_type: init_ie_type },
            url: "{% url 'retrieve_category' %}",
            cache: false,
            dataType: "json",
            success: function (result) {
                var options = "";
                result["categories"].forEach(function (val, index, arr) {
                    new_option = '<option value="' + val[0] + '">' + val[1] + '</option>';
                    options += new_option;
                });
                var category_list = document.getElementById("category-list");
                category_list.innerHTML = options;
                $("#category-list option").filter(function () { return $(this).text() == init_category_type; }).attr("selected", true);
            }
        });
        $.ajax({
            type: "POST",
            data: { category_type: init_category_type },
            url: "{% url 'retrieve_subcategory' %}",
            cache: false,
            dataType: "json",
            success: function (result) {
                var options = '<option value="select value" selected="selected">选择子类</option>';
                result["subcategories"].forEach(function (val, index, arr) {
                    new_option = '<option value="' + val[0] + '">' + val[1] + '</option>';
                    options += new_option;
                });
                var sub_category_list = document.getElementById("sub-category-list");
                sub_category_list.innerHTML = options;
            }
        });

        $.ajax({
            type: "GET",
            url: "{% url 'retrieve_year_has_data' %}",
            cache: false,
            dataType: "json",
            success: function (result) {
                var options = '<option value="select value" selected="selected">选择年份</option>';
                result["years"].forEach(function (val, index, arr) {
                    new_option = '<option value="' + val + '">' + val + '</option>';
                    options += new_option;
                });
                var year_list = document.getElementById("years-filter");
                year_list.innerHTML = options;
                var month_options = '<option value="select value" selected="selected">选择月份</option>';
                var month_list = document.getElementById("months-filter");
                month_list.innerHTML = month_options;
            }
        });
        $('#years-filter').change(function () {
            var current_selected_year = $(this).children('option:selected').text();
            $.ajax({
                type: "POST",
                data: { year: current_selected_year },
                url: "{% url 'retrieve_month_has_data' %}",
                cache: false,
                dataType: "json",
                success: function (result) {
                    var options = '<option value="select value" selected="selected">选择月份</option>';
                    result["months"].forEach(function (val, index, arr) {
                        new_option = '<option value="' + val + '">' + val + '</option>';
                        options += new_option;
                    });
                    var month_list = document.getElementById("months-filter");
                    month_list.innerHTML = options;
                }
            });
        });

        $('#show-custom-record').click(function () {
            var selected_year = $('#years-filter').children('option:selected').text();
            var selected_month = $('#months-filter').children('option:selected').text();
            var re = /^[0-9]+.?[0-9]*/;
            if (re.test(selected_year) && re.test(selected_month)) {
                $.ajax({
                    type: "POST",
                    data: { year: selected_year, month: selected_month },
                    url: "{% url 'filter_record_by_date' %}",
                    cache: false,
                    dataType: "json",
                    success: function (result) {
                        var cards = '';
                        if (Object.keys(result["records"]).length > 0) {
                            var cards = '';
                        }
                        else {
                            var cards = '<h5>搜索无结果</h5>';
                        }
                        for (key in result["records"]) {
                            var card_prefix = '<div class="card" style="margin: 0px 5px 10px 5px;">';
                            var card_header = '<div class="card-header"><div style="float: left;">' + key + '</div></div>';
                            var current_item = '';
                            result["records"][key].forEach(function (val, index, arr) {
                                if (val["record_type"] === "income_expense") {
                                    var category_string = '';
                                    if (val['subcategory'] === 'no sub category') {
                                        category_string = val['category'];
                                    }
                                    else {
                                        category_string = val['category'] + ' - ' + val['subcategory'];
                                    }
                                    if (val['ie_type'] === 'income') {
                                        amount_string = '<div style="float: right; color: green;">' + val["amount"] + '</div><br>';
                                    }
                                    else {
                                        amount_string = '<div style="float: right; color: red;">' + val["amount"] + '</div><br>';
                                    }
                                    var comment_string = '<div style="float: left; font-size: 80%; color: gray;">' + val["comment"] + '</div>';
                                    var account_string = '<div style="float: right; font-size: 80%; color: gray;">' + val["account"] + '</div>';
                                    current_item += '<li class="list-group-item"><div style="float: left;">' + category_string + '</div>' + amount_string + comment_string + account_string + '</li>';
                                }
                                else {
                                    var transfer_string = '<div style="float: left;">' + val["from_account"] + ' -> ' + val["to_account"] + '</div>';
                                    var amount_string = '<div style="float: right; color: blue;">' + val["amount"] + '</div><br>';
                                    var comment_string = '<div style="float: left; font-size: 80%; color: gray;">' + val["comment"] + '</div>';
                                    var account_string = '<div style="float: right; font-size: 80%; color: gray;">账户内转</div>';
                                    current_item += '<li class="list-group-item">' + transfer_string + amount_string + comment_string + account_string + '</li>';
                                }
                            });
                            var list_group = '<ul class="list-group list-group-flush">' + current_item + '</ul>';
                            cards += card_prefix + card_header + list_group + '</div>';
                        }
                        var record_list = document.getElementById("record-list");
                        record_list.innerHTML = cards;
                    }
                });
            }
            else {
                alert("请选择年和月!");
            }
        });

        $('#ie-type-list').change(function () {
            var current_ie_type = $(this).children('option:selected').val();
            $.ajax({
                type: "POST",
                data: { ie_type: current_ie_type },
                url: "{% url 'retrieve_category' %}",
                cache: false,
                dataType: "json",
                success: function (result) {
                    var options = "";
                    result["categories"].forEach(function (val, index, arr) {
                        if (index == 0) {
                            new_option = '<option value="' + val[0] + '" selected="selected">' + val[1] + '</option>';
                            options += new_option;
                        }
                        else {
                            new_option = '<option value="' + val[0] + '">' + val[1] + '</option>';
                            options += new_option;
                        }
                    });
                    var category_list = document.getElementById("category-list");
                    category_list.innerHTML = options;

                    var current_category_type = $('#category-list').children('option:selected').text();
                    $.ajax({
                        type: "POST",
                        data: { category_type: current_category_type },
                        url: "{% url 'retrieve_subcategory' %}",
                        cache: false,
                        dataType: "json",
                        success: function (result) {
                            var options = '<option value="select value" selected="selected">选择子类</option>';
                            result["subcategories"].forEach(function (val, index, arr) {
                                new_option = '<option value="' + val[0] + '">' + val[1] + '</option>';
                                options += new_option;
                            });
                            var sub_category_list = document.getElementById("sub-category-list");
                            sub_category_list.innerHTML = options;
                        }
                    });
                }
            });
        });

        $('#category-list').change(function () {
            var current_category_type = $(this).children('option:selected').text();
            $.ajax({
                type: "POST",
                data: { category_type: current_category_type },
                url: "{% url 'retrieve_subcategory' %}",
                cache: false,
                dataType: "json",
                success: function (result) {
                    var options = '<option value="select value" selected="selected">选择子类</option>';
                    result["subcategories"].forEach(function (val, index, arr) {
                        new_option = '<option value="' + val[0] + '">' + val[1] + '</option>';
                        options += new_option;
                    });
                    var sub_category_list = document.getElementById("sub-category-list");
                    sub_category_list.innerHTML = options;
                }
            });
        });

        $('#search-record').click(function () {
            var search_keyword = $("#search-keyword").val();
            if (!search_keyword) {
                alert("搜索词不能为空");
            }
            else {
                $.ajax({
                    type: "POST",
                    data: { keyword: search_keyword },
                    url: "{% url 'search_record' %}",
                    cache: false,
                    dataType: "json",
                    success: function (result) {
                        var cards = '';
                        if (result["records"].length > 0) {
                            var cards = '';
                        }
                        else {
                            var cards = '<h5>搜索无结果</h5>';
                        }
                        result["records"].forEach(function (val, index, arr) {
                            var card_prefix = '<div class="card" style="margin: 0px 5px 10px 5px;">';
                            var category_string = '';
                            if (val['subcategory'] === 'no sub category') {
                                category_string = val['category'];
                            }
                            else {
                                category_string = val['category'] + ' - ' + val['subcategory'];
                            }
                            if (val['ie_type'] === 'income') {
                                amount_string = '<div style="float: right; color: green;">' + val["amount"] + '</div><br>';
                            }
                            else {
                                amount_string = '<div style="float: right; color: red;">' + val["amount"] + '</div><br>';
                            }
                            var comment_string = '<div style="float: left; font-size: 80%; color: gray;">' + val["comment"] + '</div>';
                            var account_string = '<div style="float: right; font-size: 80%; color: gray;">' + val["account"] + '</div>';
                            card_header = '<div class="card-header"><div style="float: left;">' + val['day'] + '</div></div>';
                            list_group = '<ul class="list-group list-group-flush"><li class="list-group-item"><div style="float: left;">' + category_string + '</div>' + amount_string + comment_string + account_string + '</li></ul>';
                            cards += card_prefix + card_header + list_group + '</div>';
                        });
                        var record_list = document.getElementById("record-list");
                        record_list.innerHTML = cards;
                    }
                });
            }
        });

        $("#time-occurrence").attr("value", getCurrentDateFormat());
        $("#time-occurrence").datetimepicker({
            format: 'Y-m-d H:i',
        });

        $("#transfer-time-occurrence").attr("value", getCurrentDateFormat());
        $("#transfer-time-occurrence").datetimepicker({
            format: 'Y-m-d H:i',
        });

    })
</script>
<script>
    $(function () {
        $('#home-nav').click(function () {
            $("#top-container").attr("class", "container");
        });

        $('#charts-nav').click(function () {
            $("#top-container").attr("class", "container-fluid");

            $.ajax({
                type: "GET",
                url: "{% url 'retrieve_year_has_data' %}",
                cache: false,
                dataType: "json",
                success: function (result) {
                    var options = '<option value="select value" selected="selected">选择年份</option>';
                    result["years"].forEach(function (val, index, arr) {
                        new_option = '<option value="' + val + '">' + val + '</option>';
                        options += new_option;
                    });
                    var year_list = document.getElementById("available-years");
                    year_list.innerHTML = options;
                    var month_options = '<option value="select value" selected="selected">选择月份</option>';
                    var month_list = document.getElementById("available-months");
                    month_list.innerHTML = month_options;
                }
            });

            var monthBarChart = echarts.init(document.getElementById('month-bar-chart'));
            var monthBarOption = {
                title: {
                    text: '当月每日收支记录',
                    left: 'center'
                },
                grid: {
                    right: '10px'
                },
                legend: {
                    data: ['支出', '收入'],
                    x: 'right',
                    y: 'top'
                },
                tooltip: {},
                xAxis: {
                    data: [],
                    axisLabel: {
                        //interval: 3,
                        rotate: 30
                    },

                    splitLine: {
                        show: true
                    }
                },
                yAxis: {
                },
                series: [{
                    name: '支出',
                    type: 'bar',
                    color: '#FF4500',
                    data: [],
                    animationDelay: function (idx) {
                        return idx * 10;
                    }
                }, {
                    name: '收入',
                    type: 'bar',
                    color: '#3CB371',
                    data: [],
                    animationDelay: function (idx) {
                        return idx * 10 + 100;
                    }
                }],
                animationEasing: 'elasticOut',
                animationDelayUpdate: function (idx) {
                    return idx * 5;
                }
            };
            monthBarChart.setOption(monthBarOption);

            var monthPieChart = echarts.init(document.getElementById('month-pie-chart'));
            var monthPieOption = {
                title: {
                    text: '当月收支类型比例',
                    subtext: '左为收入 | 右为支出',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    left: 'center',
                    top: 'bottom',
                    show: false,
                    data: []
                },
                series: [
                    {
                        name: '收入',
                        type: 'pie',
                        radius: [30, 80],
                        center: ['25%', '50%'],
                        roseType: 'radius',
                        label: {
                            show: true
                        },
                        emphasis: {
                            label: {
                                show: true
                            }
                        },
                        data: [],
                        color: ['#2E8B57', '#3CB371', '#20B2AA', '#32CD32', '#2E8B57'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    position: 'top',
                                    color: '#000',
                                    formatter: '{b} \n{c}',
                                }
                            }
                        }
                    },
                    {
                        name: '支出',
                        type: 'pie',
                        radius: [30, 80],
                        center: ['75%', '50%'],
                        roseType: 'area',
                        data: [],
                        color: ['#FF7F50', '#A0522D', '#D2691E', '#FFA07A', '#FF8C00', '#FFDAB9', '#CD5C5C', '#DAA520'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    position: 'top',
                                    color: '#000',
                                    formatter: '{b} \n{c}',
                                }
                            }
                        }
                    }
                ]
            };
            monthPieChart.setOption(monthPieOption);

            var yearBarChart = echarts.init(document.getElementById('year-bar-chart'));
            var yearBarOption = {
                title: {
                    text: '当年每月收支记录',
                    left: 'center'
                },
                grid: {
                    right: '10px'
                },
                legend: {
                    data: ['支出', '收入'],
                    x: 'right',
                    y: 'top'
                },
                tooltip: {},
                xAxis: {
                    data: [],
                    axisLabel: {
                        //interval: 3,
                        //rotate: 30
                    },

                    splitLine: {
                        show: true
                    }
                },
                yAxis: {
                },
                series: [{
                    name: '支出',
                    type: 'bar',
                    color: '#FF4500',
                    data: [],
                    animationDelay: function (idx) {
                        return idx * 10;
                    }
                }, {
                    name: '收入',
                    type: 'bar',
                    color: '#3CB371',
                    data: [],
                    animationDelay: function (idx) {
                        return idx * 10 + 100;
                    }
                }],
                animationEasing: 'elasticOut',
                animationDelayUpdate: function (idx) {
                    return idx * 5;
                }
            };
            yearBarChart.setOption(yearBarOption);

            var yearPieChart = echarts.init(document.getElementById('year-pie-chart'));
            var yearPieOption = {
                title: {
                    text: '当年收支类型比例',
                    subtext: '左为收入 | 右为支出',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    left: 'center',
                    top: 'bottom',
                    show: false,
                    data: []
                },
                series: [
                    {
                        name: '收入',
                        type: 'pie',
                        radius: [30, 80],
                        center: ['25%', '50%'],
                        roseType: 'radius',
                        label: {
                            show: true
                        },
                        emphasis: {
                            label: {
                                show: true
                            }
                        },
                        data: [],
                        color: ['#2E8B57', '#3CB371', '#20B2AA', '#32CD32', '#2E8B57'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    position: 'top',
                                    color: '#000',
                                    formatter: '{b} \n{c}',
                                }
                            }
                        }
                    },
                    {
                        name: '支出',
                        type: 'pie',
                        radius: [30, 80],
                        center: ['75%', '50%'],
                        roseType: 'area',
                        data: [],
                        color: ['#FF7F50', '#A0522D', '#D2691E', '#FFA07A', '#FF8C00', '#FFDAB9', '#CD5C5C', '#DAA520'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: true,
                                    position: 'top',
                                    color: '#000',
                                    formatter: '{b} \n{c}',
                                }
                            }
                        }
                    }
                ]
            };
            yearPieChart.setOption(yearPieOption);

            $.ajax({
                type: "GET",
                url: "{% url 'retrieve_current_month_income_expense' %}",
                cache: false,
                dataType: "json",
                success: function (result) {
                    $("#month-total-income").text(result["month_total_income"]);
                    $("#month-total-expense").text("-" + result["month_total_expense"]);
                    monthBarOption.xAxis.data = result["days"];
                    monthBarOption.series[0].data = result["days_expense"];
                    monthBarOption.series[1].data = result["days_income"];
                    monthBarChart.setOption(monthBarOption);
                    monthPieOption.legend.data = result["month_category_names"];
                    monthPieOption.series[0].data = result["month_category_income"];
                    monthPieOption.series[1].data = result["month_category_expense"];
                    monthPieChart.setOption(monthPieOption);
                }
            });

            $.ajax({
                type: "GET",
                url: "{% url 'retrieve_current_year_income_expense' %}",
                cache: false,
                dataType: "json",
                success: function (result) {
                    $("#year-total-income").text(result["year_total_income"]);
                    $("#year-total-expense").text("-" + result["year_total_expense"]);
                    yearBarOption.xAxis.data = result["months"];
                    yearBarOption.series[0].data = result["months_expense"];
                    yearBarOption.series[1].data = result["months_income"];
                    yearBarChart.setOption(yearBarOption);
                    yearPieOption.legend.data = result["year_category_names"];
                    yearPieOption.series[0].data = result["year_category_income"];
                    yearPieOption.series[1].data = result["year_category_expense"];
                    yearPieChart.setOption(yearPieOption);
                }
            });

            $('#available-years').change(function () {
                var current_selected_year = $(this).children('option:selected').text();
                $.ajax({
                    type: "POST",
                    data: { year: current_selected_year },
                    url: "{% url 'retrieve_month_has_data' %}",
                    cache: false,
                    dataType: "json",
                    success: function (result) {
                        var options = '<option value="select value" selected="selected">选择月份</option>';
                        result["months"].forEach(function (val, index, arr) {
                            new_option = '<option value="' + val + '">' + val + '</option>';
                            options += new_option;
                        });
                        var month_list = document.getElementById("available-months");
                        month_list.innerHTML = options;
                    }
                });
            });

            $('#show-charts').click(function () {
                var selected_year = $('#available-years').children('option:selected').text();
                var selected_month = $('#available-months').children('option:selected').text();
                var re = /^[0-9]+.?[0-9]*/;
                if (re.test(selected_year) && re.test(selected_month)) {
                    $.ajax({
                        type: "POST",
                        data: { year: selected_year, month: selected_month },
                        url: "{% url 'retrieve_current_month_income_expense' %}",
                        cache: false,
                        dataType: "json",
                        success: function (result) {
                            $("#month-total-income").text(result["month_total_income"]);
                            $("#month-total-expense").text("-" + result["month_total_expense"]);
                            monthBarOption.xAxis.data = result["days"];
                            monthBarOption.series[0].data = result["days_expense"];
                            monthBarOption.series[1].data = result["days_income"];
                            monthBarChart.setOption(monthBarOption);
                            monthPieOption.legend.data = result["month_category_names"];
                            monthPieOption.series[0].data = result["month_category_income"];
                            monthPieOption.series[1].data = result["month_category_expense"];
                            monthPieChart.setOption(monthPieOption);
                        }
                    });

                    $.ajax({
                        type: "POST",
                        data: { year: selected_year },
                        url: "{% url 'retrieve_current_year_income_expense' %}",
                        cache: false,
                        dataType: "json",
                        success: function (result) {
                            $("#year-total-income").text(result["year_total_income"]);
                            $("#year-total-expense").text("-" + result["year_total_expense"]);
                            yearBarOption.xAxis.data = result["months"];
                            yearBarOption.series[0].data = result["months_expense"];
                            yearBarOption.series[1].data = result["months_income"];
                            yearBarChart.setOption(yearBarOption);
                            yearPieOption.legend.data = result["year_category_names"];
                            yearPieOption.series[0].data = result["year_category_income"];
                            yearPieOption.series[1].data = result["year_category_expense"];
                            yearPieChart.setOption(yearPieOption);
                        }
                    });
                }
                else {
                    alert("请选择年和月!");
                }
            });

        });

    })
</script>
<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
    });
</script>
{% endblock %}