<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen bg-white">
    <form class="w-full max-w-sm p-6 bg-white rounded shadow-md" method="post">
        {% csrf_token %}
        <img class="mb-4 w-18 h-18 mx-auto" src="https://i.imgur.com/Ufomyxd.png" alt="">
        <h1 class="text-2xl font-semibold mb-6 text-center">密码登录</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control block w-full px-3 py-2 mb-3 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300" name="username" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control block w-full px-3 py-2 mb-6 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-300" name="password" placeholder="Password" required>
        <button class="w-full py-2 mb-4 text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75" type="submit">登录</button>
        <div class="text-center">
            Don't have an account? <a href="{% url 'register' %}" class="text-blue-500 hover:underline"><strong>register here</strong></a>!
        </div>
        <p class="mt-5 text-center text-gray-500">&copy; 2021 独馨记账</p>
    </form>
</body>

</html>